{% extends "base.html" %}

{% block title %} {{ article.title }} {% endblock %}

{% block head %}

	{{ super() }}
	
	<link rel="canonical" href="{{ SITEURL }}/{{ article.url }}"/>

	{% for tag in article.tags %}
		<meta name="tags" content="{{tag}}" />
	{% endfor %}
	
	{% for tag in article.ogtags %} <!-- open graph tags -->
		<meta property="{{tag[0]}}" content="{{tag[1]|striptags|e}}" />
	{% endfor %}

{% endblock %}

{% block content %}
<section>
	<hr>

	<header>
		<h2>
			<a href="{{ SITEURL }}/{{ article.url }}" title="Permalink to {{ article.title|striptags }}">
				{{ article.title }}
			</a>
		</h2>
	</header>
	
	<footer class="articleMeta">
	
		<address class="tags">
			{% for tag in article.tags %}
				<a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>
			{% endfor %}
        </address></br>
	
		<div class="datetime">
			{% if article.modified != article.date %}
				modified: 
				<time datetime="{{ article.modified.isoformat() }}"> 
					{{ article.locale_modified }} 
				</time>
				</br>
			{% endif %}
			
			published: 
			<time datetime="{{ article.date.isoformat() }}"> 
				{{ article.locale_date }} 
			</time>
		</div>
	
	</footer>
	
	<div class="articleContent">
		{{ article.content }}
	</div>
	
	{% if article.share_post and article.status != 'draft' %}
		<section class="share">
			<a href="{{article.share_post['twitter']}}" target="_blank" title="Share on Twitter">
				<img src="{{ SITEURL }}/images/tweet.png" width="63" height="21" />
			</a>
		</section>
	{% endif %}

</section>
{% endblock %}
