<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

	<head>
		{% block head %}
			<link href="{{ SITEURL }}/theme/css/style.css" rel="stylesheet" />
			<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
			
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-175668431-1"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
				gtag('config', 'UA-175668431-1');
			</script>

		{% endblock head %}
	</head>
	
	<body>
	
		<!-- banner -->
		<header>
			<img src="{{ SITEURL }}/images/gc2.png" width="50" height="50">
			
			<a href="{{ SITEURL }}/"><h1>{{ SITENAME }}</h1></a>

			<!-- menu -->
			<nav><ul> 
			
				{% for title, link in MENUITEMS %}
					<li><a href="{{ link }}">{{ title }}</a></li>
				{% endfor %}
				
				{% if DISPLAY_PAGES_ON_MENU %} 
					{% for p in pages %} <!-- display on menu any custom pages in pages directory -->
						<li>
							<a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
						</li>
					{% endfor %}
				{% endif %}
				
			</ul></nav>
			
			<div>{{ SITESUBTITLE }}</div>
		
		</header>
		
		<!-- content -->
		{% block content %}
		{% endblock %}
		
		<!-- footer -->
		<footer class="siteMeta">
			<hr>
			<address>
				Licensed under 
				<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0">CC BY-NC-SA 4.0. </a>				 
				Powered by <a href="http://lesscss.org">Less</a>, 
				<a href="http://getpelican.com/">Pelican</a>
				and <a href="https://jinja.palletsprojects.com/en/2.11.x/">Jinja</a>,
				which takes great advantage of <a href="http://python.org">Python</a>.
				Hosted on <a href="https://github.com/defce74/grasschip">Github</a>
				and <a href="https://www.netlify.com/">Netlify.</a>
			</address>
		</footer>
		
	</body>
</html>

