{% extends "base.html" %}

{% block head %} 

	{{ super() }} 
	
	<link rel="canonical" href="{{ SITEURL }}"/>
	
	<!-- open graph tags -->
	<meta property="og:site_name" content="{{ SITENAME }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ SITEURL }}" />
	<meta name="og:description" content="{{ SITESUBTITLE }}"/>

{% endblock %}

{% block content %}
	<section>
	
		{% block content_title %}
			<h2>Latest:</h2>
		{% endblock %}
	
		<ul>
			{% for article in articles_page.object_list %}
				<li><article>
					
					<hr>
				
					<header> <h2>
						<a href="{{ SITEURL }}/{{ article.url }}" title="Permalink to {{ article.title|striptags }}">
							{{ article.title }}
						</a>
					</h2> </header>
						
					<footer class="articleMeta">
					
						<address class="tags">
							{% for tag in article.tags %}
								<a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>
							{% endfor %}
		                </address></br>

						<div class="datetime">
							{% if article.modified != article.date %}
								updated: 
								<time datetime="{{ article.modified.isoformat() }}"> 
									{{ article.locale_modified }} 
								</time>
								</br>
							{% endif %}
							
							published: 
							<time datetime="{{ article.date.isoformat() }}"> 
								{{ article.locale_date }} 
							</time>
						</div>
		                
					</footer>
					
					<div class="summary"> {{ article.summary }} </div>
					<div class="readmore"><a href="{{ SITEURL }}/{{ article.url }}">read more</a></div>
					
				</article></li>
			{% endfor %}
		</ul>
	
	</section>
{% endblock content %}
