@blue: #268BCD;
@green: #002b36;
@grey: #969694;
@teal: #2AA198;
@orange: #B27A1A;
@maroon: #633136;
@brown: #3E3E3E;
@white: #93A1A1;
@lime: #aaffaa;
@red: #CB4B16;

body 
{ 
	background-color: @green; 
	font-family: sans-serif; 
	color: @white;
	font-size: 100%; 
	
	header
	{
		display: grid;
		grid-template-columns: auto auto auto;
		grid-row-gap: 5px;
		
		img { padding: 1px; }
		a { h1 { text-align: center; padding: 1px; margin: 0; } }
		
		nav
		{
			padding: 1px;
			
			ul
			{
				list-style-type: none;
				float: right;
				margin: 0;
				padding: 0;
				text-align: center;

				li 
				{ 
					padding-left: 1.1em; padding-right: 1.1em; 
					font-size: 120%; 
					
					a {  } 
				}
			}
		}
		
		div { grid-column-start: 1; grid-column-end: 4; text-align: center; }
	}
	
	a 
	{
		&:link, &:visited, &:active 
		{
			color:@blue; 
			text-decoration: none;
		} 
		
		&:hover
		{
			color:@orange;
			text-decoration: none;
		}
	}
	
	section
	{
		hr { border: 1px solid @brown; width:100%; margin-top: 1.5em; margin-bottom: 0.5em; }
		
		ul
		{
			list-style-type: none;
			margin: 0;
			padding: 0;
			
			li 
			{ 
				article 
				{ 
					hr { border: 1px solid @brown; width:100%; margin-top: 1.5em; margin-bottom: 0.0em;} 
					
					header {}
					
					div.summary
					{ 
						margin-top: 0px;
						font-family: serif;
						
						a 
						{ 
							&:link, &:visited, &:active { color:@teal; } 
							&:hover { color:@orange; } 
						} 
					}
					
					div.readmore { font-style: italic; display: flex; justify-content: flex-end; color:@blue }
				} 
			}
		}
		
		footer.articleMeta
		{						
			div.datetime { font-family: monospace; color: @grey; font-style: italic; font-size: 85%; }
			
			address 
			{
				a 
				{ 
					&:link, &:visited, &:active { color:@blue; } 
					&:hover { color:@orange; } 
					margin-bottom: 0em;
				} 
			}
			
			margin-bottom: 0em;
		}
	
		figure { iframe { max-width: 100%; height: auto; } }
	}
	
	ul { list-style-type: none; }
	
	img { max-width: 100%; height: auto; } 
	
	footer.siteMeta
	{ 
		margin-bottom: 2.0em; 
		font-size: 85%;
		
		hr { border: 1px solid @brown; width:100%; margin-top: 1.5em; margin-bottom: 0.5em; }
		
		a 
		{ 
			&:link, &:visited, &:active { color:@teal; } 
			&:hover { color:@orange; } 
		}
	}
	
	section.share { display: flex; justify-content: flex-end; }
}

@media screen and (min-width: 800px) 
{
	body 
	{ 
		margin: auto;
		max-width: 800px;
	}
}

